:root {
  --bg-color-main: #2A2B49;
  --bg-color-dark: #1B203D;
  --bg-color-light: #272C4A;
  --txt-color-main: #666882;
  --txt-color-dark: #3B415F;
  --txt-color-light: #CCD0D4;
  --txt-color-green: #4C9F87;
  --txt-color-red: #E74261;
}

#app {
  width: 100vw;
  height: 100vh;
}

/* Card */
.card-container {
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

/* Loader */
.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
