:root {
  --bg-color-main: #2A2B49;
  --bg-color-dark: #1B203D;
  --bg-color-light: #272C4A;
  --txt-color-main: #666882;
  --txt-color-dark: #3B415F;
  --txt-color-light: #CCD0D4;
  --txt-color-green: #4C9F87;
  --txt-color-red: #E74261;
}

#app {
  width: 100vw;
  height: 100vh;
}

/* Card */
.card-container {
  height: 175px;
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: var(--bg-color-light);
  border-radius: 5px;
}

.card__title {
  color: var(--txt-color-main);
  font-size: 20px;
}

.card__value {
  color: var(--txt-color-light);
  font-size: 35px;
}

.card__valueDiff {
  font-size: 17.5px;
}

.card__valueDiff--positive {
  color: var(--txt-color-green);
}

.card__valueDiff--negative {
  color: var(--txt-color-red);
}

/* Loader */
.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
